body {
  background-color: #354854;
  color: #ffffff;
  font-size: 16px;
}

input[type="number"],
input[type="tel"],
input[type="text"],
button {
  font-size: inherit;
}

button {
  background-color: #979da0;
  color: #ffffff;
  font-size: 1.5rem;
  width: 75vw;
  height: 5vh;
  margin-top: 2vh;
}

.App,
.StartGame,
.AddUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

/* Login Page Styles */
.StartGame h1 {
  color: #be212e;
  font-size: 3rem;
}

.StartGame h2 {
  font-size: 2rem;
  padding-bottom: 8vh;
}

.StartGame button {
  height: 10vh;
}

/* Add Players Page Styles */

.AddUsers h2 {
  font-size: 2rem;
}

.AddUsers p {
  font-size: 1.5rem;
}

.AddUsers h4 {
  font-size: 1.7rem;
}

.AddUsers input {
  margin-top: 5vh;
  font-size: 1.5rem;
  width: 75vw;
  margin-bottom: 5vh;
}

.AddUsers li {
  font-size: 1.5rem;
}

#cancelGame {
  background-color: #ff0000;
}

#gameOver p {
  font-size: 1.5rem;
}

#gameOver td {
  font-size: 1.5rem;
  padding-right: 1.5rem;
}

/* [hidden] {
  display: none !important;
} */
